
@{
    ViewBag.Title = "Index";
}

<h2>Article Index</h2>

<a href="how-to-use-generic-seo-url-in-mvc">Generic Seo Url For Articles</a>
<br />
<br />
<a href="@Url.Action("CreateArticle")">Create New Article</a>
