@{
    ViewBag.Title = "Index";
}

<h2>Article Index</h2>

<a href="how-to-use-generic-seo-url-in-mvc">1. how to use generic seo url in mvc</a>

<br />
<a href="@Url.Action("CreateArticle")">Create New Article</a>
